/* Cards */
.rs-panel-title, .rs-modal-title {
  font-size: 1.5rem !important;
  font-weight: 500;
  color: var(--text-color) !important;
}

.rs-panel-bordered {
  border-width: 2px !important;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.2s;
  max-width: 400px;
}

.rs-panel-bordered:hover {
  border-color: var(--accent-color);
  box-shadow: 0 0 10px var(--accent-color);
  transform: scale(1.05);
}