.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color-dark) !important;
  color: var(--accent-color) !important;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 550px;
}

.nav {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.navBrand {
  position: absolute;
  top: -5px;
  left: -5px;
  font-weight: bold;
  background: linear-gradient(45deg, var(--primary-color), var(--accent-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rs-avatar {
  margin-top: 6px;
}

.rs-form-error-message {
  background: transparent !important;
  border: none !important;
}

span.rs-form-error-message-arrow::after {
  display: none;
}

span {
  font-size: 14px !important;
}