@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500&display=swap');
@import 'variables.css';

:root {
  line-height: 1.5;
  text-align: center;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--text-color);
}

body {


  background-color: var(--background-color);

  color: var(--text-color);
  font-family: 'League Spartan', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.rs-modal-content {
  background-color: var(--background-color);
  color: var(--text-color);
}

.rs-icon {
  fill: var(--accent-color);
}

/* Selectors */
.rs-radio-label {
  color: var(--text-color);
}

.rs-radio-checked :is(*) {
  color: var(--primary-color) !important;
}

.rs-btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color-dark);
  transition: background-color 0.5s ease, color 0.5s ease !important; /* Smooth transition */
  transition: color 0.3s ease;
}

.rs-btn-primary:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.rs-list-item {
  background-color: var(--background-color);
  color: var(--text-color);
}

.redBtn {
  background-color: var(--incorrect-color);
  color: var(--text-color-dark);
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.redBtn:hover {
  background-color: red;
}