/* Color palette */
:root {
  --background-color: #2f2f2f;
  --background-color-dark: #1e1e1e;
  --primary-color: #a35cff;
  --secondary-color: #c2f9ff;
  --accent-color: #48c2ff;
  --text-color: #ffffff;
  --text-color-dark: #1f2023;
}